.nav-bar a {
    text-decoration: none;
    color: orange;
    background-color: black;
    border-radius:  10px;
    padding-inline: 20px;
}
.nav-bar {
  color: black;
  font-size: 40px;
  text-align: center;
  list-style-type: none;
  font-family: Rockwell, "Courier New", Courier, Georgia,
  Times, "Times New Roman", serif;
}
.img-logo {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .mediagrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .cmn-t-scale {
        padding-right: 1cm;
        border-left: 1cm;
        border-right: 1cm;
        padding-left: 2cm;
        color: black;
        background-color: orange;
      }
      .cmn-t-scale:hover {
        color: #fff;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
      .cmn-t-underline {
        position: relative;
        color: white;
      }
      .cmn-t-underline:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 10px;
        background-color:black;
        content: "";
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }
      .cmn-t-underline:hover {
        color: white;
      }
      .cmn-t-underline:hover:after {
        width: 100%;
      }
      .cmn-t-scale1 {
        color: white;
        background-color: orange;
      }
      .cmn-t-scale:hover1 {
        color: orange;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
      .cmn-t-underline1 {
        position: relative;
        color: orange;
      }
      .cmn-t-underline1:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 10px;
        background-color:orange;
        content: "";
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }
      .cmn-t-underline1:hover {
        color: white;
      }
      .cmn-t-underline1:hover:after {
        width: 100%;
      }
      .caja1 {
        transition: 300ms ease ;
      }
      @keyframes beatBox{
        0%{
            transform: scale(0.5);
        }
        
        100%{
            transform: scale(1);
            background: white;
        }
        
      }
      .caja6 {
        animation: beatBox 5s infinite alternate;
      
      }