    .color-negro {
        color: black;
    }
    .color-naranja {
        color: orange;
        font-family: Rockwell, "Courier New", Courier, Georgia,
        Times, "Times New Roman", serif;
        font-size: 35px;
        margin-left: 50px;
    }
    .color-naranja-1 {
        color: orange;
        font-family: Rockwell, "Courier New", Courier, Georgia,
        Times, "Times New Roman", serif;
        font-size: 20px;
        margin-left: 50px;
    }
    .color-blanco1 {
        color: white !important;
    }
    .color-gris {
        color: gray;
        font-family: Rockwell, "Courier New", Courier, Georgia,
        Times, "Times New Roman", serif;
        font-size: 50px;
        margin-left: 50px;
        padding-left: 3cm;
        margin-bottom: 1cm;
    }
    .fuente-style{
        font-family:Rockwell, "Courier New", Courier, Georgia,
        Times, "Times New Roman", serif;
        color: orange;
        font-size: 30px;
    }
    .nav-bar {
        color: black;
        font-size: 40px;
        text-align: center;
        list-style-type: none;
        font-family: Rockwell, "Courier New", Courier, Georgia,
        Times, "Times New Roman", serif;
    }

    .img {
        margin-left: 75px;
        border-radius: 10px;
    } 
    .wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
      }
      
    .enlinea {
        display: inline;
      }
    body  {
        background-color: black !important;
    }
    .padre-flex iframe {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        border: solid orange; 
        margin: 20px;

    }
    .padre-flex-productos {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        border: solid orange; 
        margin: 20px;
    }
    .ul {
        list-style: none;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        margin-right: 50px;
        justify-content: space-evenly;
    }
    .contacto-section {
        margin-left: 50px;
    }
    .inline-flex {
        margin-left: 22cm;
        margin-right: 1cm;
    }
    .padre-flexp {
        color: white;
        text-align: left;
    }
    .productosgrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .img-logo1 {
        display: flex;
        justify-content: center;
        margin: 20px;
        background-color: black
        border-radius: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        }
        footer {
            text-align: center;
            list-style-type: none;
            font-family: Rockwell, "Courier New", Courier, Georgia,
            Times, "Times New Roman", serif;
            font-size: 20px;
            margin-top: 60px;
            color: gray;
        }
        .socialIcons li {
            background-color: yellow;
            list-style: none;
            display: inline-block;
            margin: 4px;
            border-radius: 2em;
            overflow: hidden;
          }
          
          .socialIcons li a {
            display: block;
            padding: 0.5em;
            min-width: 1.28571429em;
            max-width: 1.28571429em;
            height: 1.28571429em;
            white-space: nowrap;
            line-height: 1.5em; /*it's working only when you write text with icon*/
            transition: 0.5s;
            text-decoration: none;
            font-family: arial;
            color: #fff;
          }
          
          .socialIcons li i {
            margin-right: 1cm;
            margin-bottom: -2cm;
            margin-top: 1cm;
            padding-bottom: 4cm;
          }
          
          .socialIcons li:hover a {
            max-width: 200px;
            padding-right: 1cm;
            padding-bottom: 1cm;
          }
          
          .socialIcons .facebook {
            background-color: #3b5998;
            box-shadow: 0 0 16px #3b5998;
          }
          
          .socialIcons .twitter {
            background-color: #00aced;
            box-shadow: 0 0 16px #00aced;
          }
          
          .socialIcons .instagram {
            background-color: #cd486b;
            box-shadow: 0 0 16px #cd486b;
          }
          ul.socialIcons {
            padding: 0;
            text-align: center;
          }
          .section-opciones {
            text-align: right;
            font-size: 30px;
            font-weight: bold;
            list-style-type: none;
            font-family: Rockwell, "Courier New", Courier, Georgia,
            Times, "Times New Roman", serif;
            margin: 30px;
            color: white;
            border-top: 3cm;
            word-spacing: 1cm;
        }
        .color-blanco {
            color: white;
            font-family: Rockwell, "Courier New", Courier, Georgia,
            Times, "Times New Roman", serif;
            font-size: 25px;
            margin-left: 30px !important;
            margin-right: 30px !important;
            margin-left: ;
        }

        .nav-bar a {
            text-decoration: none;
            color: orange;
            background-color: black;
            border-radius:  10px;
            padding-inline: 20px;
        }
        .img-logo {
            display: flex;
            justify-content: center;
            margin: 20px;
            background-color: white;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            }
            .mediagrid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-content: center;
                justify-items: center;
                align-items: center;
            }
            .cmn-t-scale {
                padding-right: 1cm;
                clear: ;
                border-left: 1cm;
                border-right: 1cm;
                padding left: 2cm;
                color: black;
                background-color: orange;
              }
              .cmn-t-scale:hover {
                color: #fff;
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
              }
              .cmn-t-underline {
                position: relative;
                color: white;
              }
              .cmn-t-underline:after {
                display: block;
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 0;
                height: 10px;
                background-color:black;
                content: "";
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -o-transition: all 0.2s;
                transition: all 0.2s;
              }
              .cmn-t-underline:hover {
                color: white;
              }
              .cmn-t-underline:hover:after {
                width: 100%;
              }
              .cmn-t-scale1 {
                color: white;
                background-color: orange;
              }
              .cmn-t-scale:hover1 {
                color: orange;
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
              }
              .cmn-t-underline1 {
                position: relative;
                color: orange;
              }
              .cmn-t-underline1:after {
                display: block;
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 0;
                height: 10px;
                background-color:orange;
                content: "";
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -o-transition: all 0.2s;
                transition: all 0.2s;
              }
              .cmn-t-underline1:hover {
                color: white;
              }
              .cmn-t-underline1:hover:after {
                width: 100%;
              }
              .caja1 {
                transition: 300ms ease ;
              }
              @keyframes beatBox{
                0%{
                    transform: scale(0.5);
                }
                
                100%{
                    transform: scale(1);
                    background: white;
                }
                
              }
              .caja6 {
                animation: beatBox 3s infinite alternate;
              
              }



        @media (max-width: 768px) {
            .grid-productos {
                grid-template-columns: repeat(2, 1fr)
            }
            .img-logo {
                align-items: center;
                align-content: center;
                border-radius: 10px;
            }
             .nav-bar a {
                font-size: 20px;
                text-align: center;
                align-items: center;
                align-content: center;
                align-self: center;
                margin-left: -0.5cm;
                margin-right: auto;
                margin-top: -20px;
        
            }
            .section-opciones {
                font-size: 10px;
                margin: auto;
                padding-left: .5cm;
                place-items: center;
        
            }
            .color-gris {
                font-size: 25px;
                margin-left: 1cm;
            }
            .fuente-style {
                font-size: 15px;
            }
            img {
                width: 100px;
                height: 100px;
                align-content: center;
            }
            div {
                align-items: center;
                align-content: center;
        
            }
            .footer {
                font-size: 10px;
                margin-top: -0.5cm;
            }
            .productosgrid {
                margin-top: -1cm;
                margin-right: auto;
                grid-template-columns: repeat(2, 1fr)
            }
            .img-logo1 {
                display: flex;
                justify-content: center;
                margin: 40px;
                background-color: black;
                border-radius: 15px;
                padding-top: 20px;
                padding-bottom: 20px;
                }
            .nosotrostexto {
                margin-bottom: 25px;
                padding-bottom: 10px;
                font-size: 15px;
            }
            .quiensomos {
                font-size: 20px;
                margin-left: 30px
                
            } 
            .asisonamos {
                font-size: 20px;
                margin-left: 30px;
            }
            .productosgrid {
                justify-content: center;
                margin-top: -1cm;
                margin-right: -20cm
                grid-template-columns: repeat(2, 1fr)
                object-fit: contain
            }
            .iframe { 
                width: 10px
                height: 10px
            }
            .footer1 {
                padding-top: 1cm;
            }