@media (max-width: 768px) {
    .grid-productos {
        grid-template-columns: repeat(2, 1fr)
    }
    .img-logo {
        align-items: center;
        align-content: center;
        border-radius: 10px;
    }
     .nav-bar a {
        font-size: 20px;
        text-align: center;
        align-items: center;
        align-content: center;
        align-self: center;
        margin-left: -0.5cm;
        margin-right: auto;
        margin-top: -20px;

    }
    .section-opciones {
        font-size: 10px;
        margin: auto;
        padding-left: .5cm;
        place-items: center;

    }
    .color-gris {
        font-size: 25px;
        margin-left: 1cm;
    }
    .fuente-style {
        font-size: 15px;
    }
    img {
        width: 100px;
        height: 100px;
        align-content: center;
    }
    div {
        align-items: center;
        align-content: center;

    }
    .footer {
        font-size: 10px;
        margin-top: -0.5cm;
    }
    .productosgrid {
        margin-top: -1cm;
        margin-right: auto;
        grid-template-columns: repeat(2, 1fr)
    }
    .img-logo1 {
        display: flex;
        justify-content: center;
        margin: 40px;
        background-color: black;
        border-radius: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        }
    .nosotrostexto {
        margin-bottom: 25px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    .quiensomos {
        font-size: 20px;
        margin-left: 30px
        
    } 
    .asisonamos {
        font-size: 20px;
        margin-left: 30px;
    }
    .productosgrid {
        justify-content: center;
        margin-top: -1cm;
        margin-right: -20cm;
        grid-template-columns: repeat(2, 1fr);
        object-fit: contain
    }
    .iframe { 
        width: 10px;
        height: 10px;
    }
    .footer1 {
        padding-top: 1cm
    }
}